<div class="container mt-2 d-none" id="cookie-consent-container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <h5 class="alert-heading">We use cookies on this site to enhance your user experience.</h5>
        <p>By continuing to use the site, you’re giving your consent for us to use cookies.</p>
        <button class="btn btn-outline-secondary" id="cookie-accept">Accept</button>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
