<footer class="footer bg-dark py-3 mt-auto d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="text-secondary footer-list">
          Follow us
          <hr class="w-50" />
          <li class="mt-2"><i class="bi bi-instagram"></i> <a href="https://www.instagram.com" class="link-secondary text-decoration-none">Instagram</a></li>
          <li><i class="bi bi-facebook"></i> <a href="https://facebook.com" class="link-secondary text-decoration-none">Facebook</a></li>
          <li><i class="bi bi-twitter"></i> <a href="https://twitter.com" class="link-secondary text-decoration-none">Twitter</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="text-secondary footer-list">
          Help
          <hr class="w-50" />
          <li class="mt-2"><a href="/help/delivery" class="link-secondary text-decoration-none">Delivery information</a></li>
          <li><a href="/help/returns" class="link-secondary text-decoration-none">Returns</a></li>
          <li><a href="/help/contact" class="link-secondary text-decoration-none">Contact us</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="text-secondary footer-list">
          My account
          <hr class="w-50" />
          <li><a href="/my-account" class="link-secondary text-decoration-none">My orders</a></li>
          <li><a href="/my-account" class="link-secondary text-decoration-none">My wishlist</a></li>
        </ul>
      </div>
    </div>
    <p class="text-muted text-center small m-3">&copy; scentLand 2021</p>
  </div>
</footer>

<div class="accordion accordion-flush d-lg-none mb-5 mt-auto" id="accordionFlush">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading1">
      <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">MY ACCOUNT</button>
    </h2>
    <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <p><a href="/my-account" class="link-secondary text-decoration-none">My orders</a></p>
        <p><a href="/my-account" class="link-secondary text-decoration-none">My wishlist</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading2">
      <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">HELP</button>
    </h2>
    <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <p><a href="/help/delivery" class="link-secondary text-decoration-none">Delivery information</a></p>
        <p><a href="/help/returns" class="link-secondary text-decoration-none">Returns</a></p>
        <p><a href="/help/contact" class="link-secondary text-decoration-none">Contact us</a></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading3">
      <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">FOLLOW US</button>
    </h2>
    <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
        <p><a href="https://www.instagram.com" class="link-secondary text-decoration-none">Instagram</a></p>
        <p><a href="https://facebook.com" class="link-secondary text-decoration-none">Facebook</a></p>
        <p><a href="https://twitter.com" class="link-secondary text-decoration-none">Twitter</a></p>
      </div>
    </div>
  </div>
  <p class="text-muted text-center m-3 small">&copy; scentLand 2021</p>
</div>
