<div class="d-flex justify-content-between my-5 sorting-container">
  <p class="pt-1">showing <%=products.length%> products</p>

  <div>
    <select class="form-select text-center pt-1" aria-label=".form-select" id="sorter">
      <option selected>sort</option>
      <option value="1">price: low to high</option>
      <option value="2">price: high to low</option>
      <option value="3">name: A-Z</option>
      <option value="4">name: Z-A</option>
    </select>
  </div>
</div>
