<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1615199810/shop/favicon/apple-touch-icon_pwu9xv.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1615199810/shop/favicon/favicon-32x32_xyks6b.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1615199810/shop/favicon/favicon-16x16_l6oczq.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1615200206/shop/favicon/safari-pinned-tab_zr88kf.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="https://res.cloudinary.com/dxhrxhiwb/image/upload/v1615199810/shop/favicon/favicon_isssqn.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <title>scentLand</title>
    <link rel="stylesheet" href="/CSS/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%> <%- include('../partials/flash')%> <%- body %> <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/JS/avgRatingStars.js"></script>
    <script src="/JS/searchAutocomplete.js"></script>
  </body>
</html>
