<% layout('layouts/boilerplate') %>

<div class="container m-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p class="fs-5">Contact us</p>
      <p>
        <i class="bi bi-telephone"></i>
        +48 123 456 789
      </p>
      <p>
        333 Scent Road <br />
        Scent City, <br />
        SC1 1SC
      </p>
    </div>
  </div>
</div>
